# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/apps/app-web/zhuhan0.blogspot.com/leetcode-269-alien-dictionary/intro1/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro1-fibonacci-numbers/intro1-naive-recursive/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro2-making-change/intro2-top-down-dynamic-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro2-making-change/intro3-bottom-up-dynamic-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro1-brute-force-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro2-top-down-dynamic-programming/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro3-bottom-up-dynamic-programming/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro4-0-1-knapsack/intro1-brute-force/intro1/target/