# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/apps/app-web/zhuhan0.blogspot.com/leetcode-269-alien-dictionary/intro1/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro1-fibonacci-numbers/intro1-naive-recursive/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro2-making-change/intro2-top-down-dynamic-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro2-making-change/intro3-bottom-up-dynamic-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro1-brute-force-solution/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro2-top-down-dynamic-programming/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro3-square-submatrix/intro3-bottom-up-dynamic-programming/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro4-0-1-knapsack/intro1-brute-force/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro5-target-sum/intro1-Naive-brute-force-solution/intro1/intro1/target/
/apps/app-books/Dynamic-Programming-for-Interviews/intro5-target-sum/intro2-Top-down-dynamic-programming/intro1/target/
/apps/app-web/www.programcreek.com/leetcode-regular-expression-matching-in-java/intro1/intro1/target/
/apps/app-web/leetcode.com/problems/regular-expression-matching/intro2-java-dynamic-programming/intro1/target/
/apps/app-web/leetcode.com/problems/kth-largest-element-in-an-array/intro2-java-heap/intro1/target/
/apps/app-web/leetcode.com/problems/word-ladder/intro2-java/intro1/target/
/apps/app-web/leetcode.com/problems/word-break/intro2-java-bruteforce/intro1/target/
/apps/app-books/Algorithms-Robert-Sedgewick/chap2-sorting/intro1-Selection-sort/intro1/target/
/apps/app-books/Algorithms-Robert-Sedgewick/chap2-sorting/intro2-Insertion-sort/intro1/target/